<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.zego.datarecord">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application>
    <activity android:name="im.zego.datarecord.DataRecordActivity"></activity>
    </application>
</manifest>
