<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zego.aux.publisher" >
    <application>
        <activity android:name="im.zego.auxpublisher.ui.ZGAuxPublisherPublishUI"></activity>
        <activity android:name="im.zego.auxpublisher.ui.ZGAuxPublisherLoginUI"></activity>
        <activity android:name="im.zego.auxpublisher.ui.ZGAuxPublisherPlayUI"></activity>
    </application>
</manifest>
